.cardsContainer{
    width: 100%;
    height: 100%;
    background-color: #12043a;
    padding: 0 0 2rem 0;
}
.filterContainer{
    background-color: black;
    /* padding-bottom: 1%; */
    /* padding-right: 10px; */
    display: inline-flex;
    width: 100%;
    height: 4vh;
    padding: 0 0 1rem 0;
    /* align-items: baseline; */
    justify-content:flex-end;
    align-items: stretch;

}

.cardsBox{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #c7c4cf; */
    height: 85%;
    justify-content: space-evenly;
}

.filterAndOrder{
    margin-left: 1rem;
    border-radius: 10px;
    border:none;
    background-color: #7A7A7B;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}
.filterAndOrder:last-of-type{
    margin-right: 0.8rem;
}

.filterAndOrder:first-of-type{
    margin-left: 0;
}